@font-face {
  font-family: "f1";
  src: url(../Fonts/Inter-Thin-BETA.otf);
}
@font-face {
  font-family: "f2";
  src: url(../Fonts/Inter-ExtraLight-BETA.otf);
}
@font-face {
  font-family: "f3";
  src: url(../Fonts/Inter-Light-BETA.otf);
}
@font-face {
  font-family: "f4";
  src: url(../Fonts/Inter-Regular.otf);
}
@font-face {
  font-family: "f5";
  src: url(../Fonts/Inter-Medium.otf);
}
@font-face {
  font-family: "f6";
  src: url(../Fonts/Inter-SemiBold.otf);
}
@font-face {
  font-family: "f7";
  src: url(../Fonts/Inter-Bold.otf);
}
@font-face {
  font-family: "f8";
  src: url(../Fonts/Inter-ExtraBold.otf);
}
@font-face {
  font-family: "f9";
  src: url(../Fonts/Inter-Black.otf);
}

.f1 {
  font-family: "f1";
}
.f2 {
  font-family: "f2";
}
.f3 {
  font-family: "f3";
}
.f4 {
  font-family: "f4";
}
.f5 {
  font-family: "f5";
}
.f6 {
  font-family: "f6";
}
.f7 {
  font-family: "f7";
}
.f8 {
  font-family: "f8";
}
.f9 {
  font-family: "f9";
}
