//height-start

.h-5 {
  height: 5% !important;
}
.h-7 {
  height: 7% !important;
}
.h-9 {
  height: 9% !important;
}
.h-8 {
  height: 8% !important;
}

.h-10 {
  height: 10% !important;
}

.h-15 {
  height: 15% !important;
}
.h-20 {
  height: 20% !important;
}

.h-25 {
  height: 25% !important;
}

.h-30 {
  height: 30% !important;
}

.h-35 {
  height: 35% !important;
}

.h-40 {
  height: 40% !important;
}

.h-45 {
  height: 45% !important;
}
.h-50 {
  height: 50% !important;
}

.h-55 {
  height: 55% !important;
}

.h-60 {
  height: 60% !important;
}

.h-65 {
  height: 65% !important;
}

.h-70 {
  height: 70% !important;
}

.h-75 {
  height: 75% !important;
}

.h-80 {
  height: 80% !important;
}

.h-85 {
  height: 85% !important;
}

.h-90 {
  height: 90% !important;
}

.h-95 {
  height: 95% !important;
}

.h-96 {
  height: 96% !important;
}

.h-97 {
  height: 97% !important;
}

.h-98 {
  height: 98% !important;
}

.h-99 {
  height: 99% !important;
}
.hi-100 {
  height: 100% !important;
}
//height-end
//
//
//
//
@media (max-width: 576px) {
  .h-xs-45 {
    height: 45% !important;
  }
  .h-xs-47 {
    height: 47% !important;
  }
  .h-xs-48 {
    height: 48% !important;
  }
  .h-xs-50 {
    height: 50% !important;
  }
  .h-xs-55 {
    height: 55% !important;
  }
  .h-xs-60 {
    height: 60% !important;
  }
  .h-xs-65 {
    height: 65% !important;
  }
  .h-xs-70 {
    height: 70% !important;
  }
  .h-xs-75 {
    height: 75% !important;
  }
  .h-xs-80 {
    height: 80% !important;
  }
  .h-xs-85 {
    height: 85% !important;
  }
  .h-xs-90 {
    height: 90% !important;
  }
  .h-xs-95 {
    height: 95% !important;
  }
  .h-xs-96 {
    height: 96% !important;
  }
  .h-xs-97 {
    height: 97% !important;
  }
  .h-xs-98 {
    height: 98% !important;
  }
  .h-xs-99 {
    height: 99% !important;
  }
  .h-xs-100 {
    height: 100% !important;
  }
}
@media (min-width: 577px) {
  .h-sm-45 {
    height: 45% !important;
  }
  .h-sm-47 {
    height: 47% !important;
  }
  .h-sm-48 {
    height: 48% !important;
  }
  .h-sm-50 {
    height: 50% !important;
  }
  .h-sm-55 {
    height: 55% !important;
  }
  .h-sm-60 {
    height: 60% !important;
  }
  .h-sm-65 {
    height: 65% !important;
  }
  .h-sm-70 {
    height: 70% !important;
  }
  .h-sm-75 {
    height: 75% !important;
  }
  .h-sm-80 {
    height: 80% !important;
  }
  .h-sm-85 {
    height: 85% !important;
  }
  .h-sm-90 {
    height: 90% !important;
  }
  .h-sm-95 {
    height: 95% !important;
  }
  .h-sm-100 {
    height: 100% !important;
  }
}
@media (min-width: 768px) {
  .h-md-32 {
    height: 32% !important;
  }
  .h-md-33 {
    height: 33% !important;
  }
  .h-md-45 {
    height: 45% !important;
  }
  .h-md-47 {
    height: 47% !important;
  }
  .h-md-48 {
    height: 48% !important;
  }
  .h-md-50 {
    height: 50% !important;
  }
  .h-md-55 {
    height: 55% !important;
  }
  .h-md-60 {
    height: 60% !important;
  }
  .h-md-65 {
    height: 65% !important;
  }
  .h-md-70 {
    height: 70% !important;
  }
  .h-md-75 {
    height: 75% !important;
  }
  .h-md-80 {
    height: 80% !important;
  }
  .h-md-85 {
    height: 85% !important;
  }
  .h-md-90 {
    height: 90% !important;
  }
  .h-md-95 {
    height: 95% !important;
  }
  .h-md-100 {
    height: 100% !important;
  }
}
@media (min-width: 992px) {
  .h-lg-32 {
    height: 32% !important;
  }
  .h-lg-33 {
    height: 33% !important;
  }
  .h-lg-45 {
    height: 45% !important;
  }
  .h-lg-47 {
    height: 47% !important;
  }
  .h-lg-48 {
    height: 48% !important;
  }
  .h-lg-50 {
    height: 50% !important;
  }
  .h-lg-55 {
    height: 55% !important;
  }
  .h-lg-60 {
    height: 60% !important;
  }
  .h-lg-65 {
    height: 65% !important;
  }
  .h-lg-70 {
    height: 70% !important;
  }
  .h-lg-75 {
    height: 75% !important;
  }
  .h-lg-80 {
    height: 80% !important;
  }
  .h-lg-85 {
    height: 85% !important;
  }
  .h-lg-90 {
    height: 90% !important;
  }
  .h-lg-95 {
    height: 95% !important;
  }
  .h-lg-100 {
    height: 100% !important;
  }
}
@media (min-width: 1200px) {
  .h-xl-32 {
    height: 32% !important;
  }
  .h-xl-33 {
    height: 33% !important;
  }
  .h-xl-45 {
    height: 45% !important;
  }
  .h-xl-47 {
    height: 47% !important;
  }
  .h-xl-48 {
    height: 48% !important;
  }
  .h-xl-50 {
    height: 50% !important;
  }
  .h-xl-55 {
    height: 55% !important;
  }
  .h-xl-60 {
    height: 60% !important;
  }
  .h-xl-65 {
    height: 65% !important;
  }
  .h-xl-70 {
    height: 70% !important;
  }
  .h-xl-75 {
    height: 75% !important;
  }
  .h-xl-70 {
    height: 70% !important;
  }
  .h-xl-80 {
    height: 80% !important;
  }
  .h-xl-85 {
    height: 85% !important;
  }
  .h-xl-90 {
    height: 90% !important;
  }
  .h-xl-95 {
    height: 95% !important;
  }
  .h-xl-100 {
    height: 100% !important;
  }
}
@media (min-width: 1400px) {
  .h-xxl-45 {
    height: 45% !important;
  }
  .h-xxl-47 {
    height: 47% !important;
  }
  .h-xxl-48 {
    height: 48% !important;
  }
  .h-xxl-50 {
    height: 50% !important;
  }
  .h-xxl-55 {
    height: 55% !important;
  }
  .h-xxl-60 {
    height: 60% !important;
  }
  .h-xxl-65 {
    height: 65% !important;
  }
  .h-xxl-70 {
    height: 70% !important;
  }
  .h-xxl-75 {
    height: 75% !important;
  }
  .h-xxl-70 {
    height: 70% !important;
  }
  .h-xxl-80 {
    height: 80% !important;
  }
  .h-xxl-85 {
    height: 85% !important;
  }
  .h-xxl-90 {
    height: 90% !important;
  }
  .h-xxl-95 {
    height: 95% !important;
  }
  .h-xxl-100 {
    height: 100% !important;
  }
}

//Height-End

//Height-VH-start

.vh-5 {
  height: 5vh !important;
}
.vh-7 {
  height: 7vh !important;
}
.vh-9 {
  height: 9vh !important;
}
.vh-8 {
  height: 8vh !important;
}

.vh-10 {
  height: 10vh !important;
}

.vh-15 {
  height: 15vh !important;
}
.vh-20 {
  height: 20vh !important;
}

.vh-25 {
  height: 25vh !important;
}

.vh-30 {
  height: 30vh !important;
}

.vh-35 {
  height: 35vh !important;
}

.vh-40 {
  height: 40vh !important;
}

.vh-45 {
  height: 45vh !important;
}
.vh-50 {
  height: 50vh !important;
}

.vh-55 {
  height: 55vh !important;
}

.vh-60 {
  height: 60vh !important;
}

.vh-65 {
  height: 65vh !important;
}

.vh-70 {
  height: 70vh !important;
}

.vh-75 {
  height: 75vh !important;
}

.vh-80 {
  height: 80vh !important;
}

.vh-85 {
  height: 85vh !important;
}

.vh-90 {
  height: 90vh !important;
}

.vh-95 {
  height: 95vh !important;
}

.vh-96 {
  height: 96vh !important;
}

.vh-97 {
  height: 97vh !important;
}

.vh-98 {
  height: 98vh !important;
}

.vh-99 {
  height: 99vh !important;
}
.vhi-100 {
  height: 100vh !important;
}
//height-end
//
//
//
//
@media (max-width: 576px) {
  .vh-xs-45 {
    height: 45vh !important;
  }
  .vh-xs-47 {
    height: 47vh !important;
  }
  .vh-xs-48 {
    height: 48vh !important;
  }
  .vh-xs-50 {
    height: 50vh !important;
  }
  .vh-xs-55 {
    height: 55vh !important;
  }
  .vh-xs-60 {
    height: 60vh !important;
  }
  .vh-xs-65 {
    height: 65vh !important;
  }
  .vh-xs-70 {
    height: 70vh !important;
  }
  .vh-xs-75 {
    height: 75vh !important;
  }
  .vh-xs-80 {
    height: 80vh !important;
  }
  .vh-xs-85 {
    height: 85vh !important;
  }
  .vh-xs-90 {
    height: 90vh !important;
  }
  .vh-xs-95 {
    height: 95vh !important;
  }
  .vh-xs-96 {
    height: 96vh !important;
  }
  .vh-xs-97 {
    height: 97vh !important;
  }
  .vh-xs-98 {
    height: 98vh !important;
  }
  .vh-xs-99 {
    height: 99vh !important;
  }
  .vh-xs-100 {
    height: 100vh !important;
  }
}
@media (min-width: 577px) {
  .vh-sm-45 {
    height: 45vh !important;
  }
  .vh-sm-47 {
    height: 47vh !important;
  }
  .vh-sm-48 {
    height: 48vh !important;
  }
  .vh-sm-50 {
    height: 50vh !important;
  }
  .vh-sm-55 {
    height: 55vh !important;
  }
  .vh-sm-60 {
    height: 60vh !important;
  }
  .vh-sm-65 {
    height: 65vh !important;
  }
  .vh-sm-70 {
    height: 70vh !important;
  }
  .vh-sm-75 {
    height: 75vh !important;
  }
  .vh-sm-80 {
    height: 80vh !important;
  }
  .vh-sm-85 {
    height: 85vh !important;
  }
  .vh-sm-90 {
    height: 90vh !important;
  }
  .vh-sm-95 {
    height: 95vh !important;
  }
  .vh-sm-100 {
    height: 100vh !important;
  }
}
@media (min-width: 768px) {
  .vh-md-32 {
    height: 32vh !important;
  }
  .vh-md-33 {
    height: 33vh !important;
  }
  .vh-md-45 {
    height: 45vh !important;
  }
  .vh-md-47 {
    height: 47vh !important;
  }
  .vh-md-48 {
    height: 48vh !important;
  }
  .vh-md-50 {
    height: 50vh !important;
  }
  .vh-md-55 {
    height: 55vh !important;
  }
  .vh-md-60 {
    height: 60vh !important;
  }
  .vh-md-65 {
    height: 65vh !important;
  }
  .vh-md-70 {
    height: 70vh !important;
  }
  .vh-md-75 {
    height: 75vh !important;
  }
  .vh-md-80 {
    height: 80vh !important;
  }
  .vh-md-85 {
    height: 85vh !important;
  }
  .vh-md-90 {
    height: 90vh !important;
  }
  .vh-md-95 {
    height: 95vh !important;
  }
  .vh-md-100 {
    height: 100vh !important;
  }
}
@media (min-width: 992px) {
  .vh-lg-32 {
    height: 32vh !important;
  }
  .vh-lg-33 {
    height: 33vh !important;
  }
  .vh-lg-45 {
    height: 45vh !important;
  }
  .vh-lg-47 {
    height: 47vh !important;
  }
  .vh-lg-48 {
    height: 48vh !important;
  }
  .vh-lg-50 {
    height: 50vh !important;
  }
  .vh-lg-55 {
    height: 55vh !important;
  }
  .vh-lg-60 {
    height: 60vh !important;
  }
  .vh-lg-65 {
    height: 65vh !important;
  }
  .vh-lg-70 {
    height: 70vh !important;
  }
  .vh-lg-75 {
    height: 75vh !important;
  }
  .vh-lg-80 {
    height: 80vh !important;
  }
  .vh-lg-85 {
    height: 85vh !important;
  }
  .vh-lg-90 {
    height: 90vh !important;
  }
  .vh-lg-95 {
    height: 95vh !important;
  }
  .vh-lg-100 {
    height: 100vh !important;
  }
}
@media (min-width: 1200px) {
  .vh-xl-32 {
    height: 32vh !important;
  }
  .vh-xl-33 {
    height: 33vh !important;
  }
  .vh-xl-45 {
    height: 45vh !important;
  }
  .vh-xl-47 {
    height: 47vh !important;
  }
  .vh-xl-48 {
    height: 48vh !important;
  }
  .vh-xl-50 {
    height: 50vh !important;
  }
  .vh-xl-55 {
    height: 55vh !important;
  }
  .vh-xl-60 {
    height: 60vh !important;
  }
  .vh-xl-65 {
    height: 65vh !important;
  }
  .vh-xl-70 {
    height: 70vh !important;
  }
  .vh-xl-75 {
    height: 75vh !important;
  }
  .vh-xl-70 {
    height: 70vh !important;
  }
  .vh-xl-80 {
    height: 80vh !important;
  }
  .vh-xl-85 {
    height: 85vh !important;
  }
  .vh-xl-90 {
    height: 90vh !important;
  }
  .vh-xl-95 {
    height: 95vh !important;
  }
  .vh-xl-100 {
    height: 100vh !important;
  }
}
@media (min-width: 1400px) {
  .vh-xxl-45 {
    height: 45vh !important;
  }
  .vh-xxl-47 {
    height: 47vh !important;
  }
  .vh-xxl-48 {
    height: 48vh !important;
  }
  .vh-xxl-50 {
    height: 50vh !important;
  }
  .vh-xxl-55 {
    height: 55vh !important;
  }
  .vh-xxl-60 {
    height: 60vh !important;
  }
  .vh-xxl-65 {
    height: 65vh !important;
  }
  .vh-xxl-70 {
    height: 70vh !important;
  }
  .vh-xxl-75 {
    height: 75vh !important;
  }
  .vh-xxl-70 {
    height: 70vh !important;
  }
  .vh-xxl-80 {
    height: 80vh !important;
  }
  .vh-xxl-85 {
    height: 85vh !important;
  }
  .vh-xxl-90 {
    height: 90vh !important;
  }
  .vh-xxl-95 {
    height: 95vh !important;
  }
  .vh-xxl-100 {
    height: 100vh !important;
  }
}

//Height VH End
